matplotlib==3.4.1numpy==1.20.3pandas==1.2.3streamlit==0.89.0arrow==0.13.1
astroid==2.6.6
autopep8==1.5.6
cloudpickle==1.6.0
cryptography==3.4.7
decorator==5.0.9
flake8==3.9.0
icu==58.2
ipykernel==6.2.0
jedi==0.17.2
jinja2==2.11.3
jupyter_core==4.7.1
libffi==3.3
markupsafe==1.1.1
parso==0.7.0
pip==21.0.1
pluggy==0.13.1
prompt-toolkit==3.0.17
pycodestyle==2.6.0
pyflakes==2.2.0
pyls-spyder==0.3.2
pyrsistent==0.17.3
python==3.8.11
pytz==2021.1
qtconsole==5.1.0
sip==4.19.8
sphinx==4.0.2
